.navbar-brand {
  font-weight: 900;
  font-size: 36px;
  line-height: 44px;
  padding-right: 56px;
  color: #FFFFFF;
}

.nav-item {
  font-weight: normal;
  font-size: 1rem;
}

.nav-link{
  color: #FFF !important ;
}
.nav-link:hover, .active > a{
  color: #6AC045 !important ;
}

[type="search"] {
  border: 1px solid rgba(106, 192, 69, 0.62);
  box-sizing: border-box;
  border-radius: 50px;
  background-color: #343a40;
  color: #fff;
}

[type="search"]:focus { background-color: #343a40; }

